name: Build House Predictor EXE
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install pyinstaller scikit-learn pandas joblib

    - name: Build EXE
      # This command tells PyInstaller to grab the .pkl file and put it inside the EXE
      # The ';' separator is specific to Windows builds
      run: pyinstaller --onefile --hidden-import sklearn --collect-submodules sklearn --add-data "house_model.pkl;." main.py

    - name: Upload EXE
      uses: actions/upload-artifact@v4
      with:
        name: HousePredictorApp
        path: dist/main.exe